﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container-md">
        <p class="bg-info">FiasVersion: @Model.FiasVersion</p>
        <p class="bg-body text-light">GreetResponse: @Model.GreetResponse</p>
    </div>
</div>
